.BuildControls {
  width: 100%;
  background-color: #cf8f2e;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0px 2px 1px #ccc;
  margin: auto;
  padding: 10px 0;
}
.OrderButton {
  padding: 15px 30px;
  //   box-shadow: 2px 2px 2px #696909;
  //   background: #dad735;
  font-size: 1.2em;
  border: 1px solid #696909;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
